/* "Disclaimer: I, Mukund Madhav, have solely created all the CSS." */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url(./assets/game-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 70px;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

/* Header Section Styling */
#user-logo{
    filter: invert();
    width: 25px;
    height: 26px;
}

#game-logo{
    width: 200px;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.user span{
    width: 100%;
}
.user h3{
    font-size: 16px;
}

#game-img{
    width: 550px;
    height: 550px;
}


/* Main Section Styling */

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 500px;
    padding: 1rem;
}

.player-turn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 5px solid black;
    padding: 1rem;
    position: relative;
    line-height: 3rem;

}

.player-turn-div::before{
    content:"";
    position: absolute;
    background-color: black;
    opacity: 0.5;
    background-size: cover;
    inset: 0;
}

.player-turn-div p{
    isolation: isolate;
    font-size: 28px;
    font-weight: 900;
}
#turn{
    color: yellow;
}

#dice-btn{
    color: black;
    height: 70px;
    width: 85px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 20px;
    position: relative;
}

#dice-btn::before{
    content: "";
    position: absolute;
    background-color: white;
    opacity: 0.4;
    background-size: cover;
    border-radius: 18px;
    inset: 0;
}

#dice-btn p{
    isolation: isolate;
    font-size: 32px;
}

.game-content{
    display: flex;
}

.pawns{
    align-self: flex-end;
    padding-right: 20px;
    height: 80px;
    width: 80px;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    background-image: url("./assets/My\ Game-img.jpeg");
    background-size: cover;
    border: 7px solid black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    /* border: .5px solid black; */
}

#pawn-1{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: yellow;
    border: 2px solid black;
    
}

#pawn-2{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
}

/* Footer Section Styling */

footer{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 21px;
    font-weight: 900;
    font-size: medium;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: yellow;
}
/* Device Responsive */

@media screen and (max-width: 768px) {
    body{
        padding-right: 0;
    }

    #game-logo{
        width: 50%;
        height: auto;
    }

    .user h3{
        font-size: 14px;
        padding-right: 10px;
    }

    .main-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .play-div{
        width: 300px;
        height: 300px;
    }

    .game-content{
        flex-direction: column-reverse;
    }

    .player-turn-div{
        width: 300px;
        height: 140px;
    }

    .player-turn-div p {
        font-size: 22px;
    }

    .box{
        width: 34px;
        height: 34px;
    }

    .pawns{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        width: 60px;
        height: 30px;
        margin-top: 10px;
        gap: 2px;
    }

    #pawn-1 , #pawn-2{
        height: 20px;
        width: 20px;
    }

    footer{
        height: 80px;
        padding-bottom: 30px;
    }
}