/* "Disclaimer: I, Mukund Madhav, have solely created all the CSS." */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url("./assets/Instruction-bg-webpage.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 70px;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

/* Header Section Styling */
#user-logo{
    filter: invert();
    width: 25px;
    height: 26px;
}

#game-logo{
    width: 200px;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.user span{
    width: 100%;
}
.user h3{
    font-size: 16px;
}

#game-img{
    width: 550px;
    height: 550px;
}


/* Main Section Styling */
.content{
    text-align: justify;
    padding-left: 50px;
}

.content > h1{
    font-size: 32px;
    margin-bottom: 8px;
    color: cyan;
    font-weight: 900;
    font-family: 'Black Ops One';
}

.content > p{
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

#continue-btn{
    width: 155px;
    height: 55px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: cyan;
}

.continue-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer Section Styling*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: medium;
}

footer a{
    text-decoration: none;
    color: yellow;
}

@media screen and (max-width: 768px) {
    body{
        background-position: top;
        padding-right: 0;
    }
    main{
        padding: 10%;
        padding-bottom: 20px;
    }
    
    .content{
        padding-left: 0;
    }

    #game-logo{
        width: 50%;
        height: auto;
    }

    .user h3{
        font-size: 14px;
        padding-right: 10px;
    }

    footer{
        padding-top: 0px;
        padding-bottom: 30px;
        height: auto;
    }
}