/* "Disclaimer: I, Mukund Madhav, have solely created all the CSS." */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url("./assets/result-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 70px;
    font-family: 'Inter', sans-serif;
    user-select: none;

}

/* Header Section Styling */
#user-logo{
    filter: invert();
    width: 25px;
    height: 26px;
}

#game-logo{
    width: 200px;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.user span{
    width: 100%;
}
.user h3{
    font-size: 16px;
}

#game-img{
    width: 550px;
    height: 550px;
}


/* Main Section Styling */
.main-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2% 25%;
    height: 65vh;
    width: 50%;
    padding: 70px ;
    text-align: center;
    border-radius: 10px;
    
}

.seperator{
    height: 100%;
    width: 2px;
    border: 2px solid white;
    isolation: isolate;

}
.main-content h1, .main-content span{
    isolation: isolate;
}

.main-content h1{
    font-size: 3rem;
    margin-bottom: 20%;
    font-weight: 900;
}
.main-content::before{
    position: absolute;
    background-color: black;
    content: '';
    inset: 0;
    opacity: 0.4;
}

.player1-stats , .player2-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.player1-stats span, .player2-stats span{
    font-size: 1.5rem;
}
#play-btn{
    width: 200px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 15px;
    border: 4px solid black;
    cursor: pointer;
}

.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Section Styling */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-weight: 900;
    font-size: medium;
}

footer a{
    text-decoration: none;
    color: yellow;
}

@media screen and (max-width: 768px) {
    body{
        background-position: top;
        padding-right: 0;
    }
    main{
        padding: 6%;
        padding-bottom: 16px;
    }
    
    #game-logo{
        width: 50%;
        height: auto;
    }
    
    .user h3{
        font-size: 14px;
        padding-right: 10px;
    }

    .main-content{
        flex-direction: column;
        align-items: center;        
        height: 70vh;
        width: 100%;
        margin: 0;
        padding: 30% 10%;
    }

    .main-content h1{
        font-size: 2rem;
    }
    .player1-stats span, .player2-stats span{
        font-size: 1.3rem;
    }
    #play-btn{
        margin-top: 18px;
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
    
    .seperator{
        width: 80%;
        height: 2px;
    }

    footer{
        padding-top: 10px;
        padding-bottom: 30px;
        height: auto;
    }
    
}