@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url('./assets/Gradiant-bg.webp');
    background-repeat: no-repeat;
    padding-right: 70px;
    font-family: 'Inter', sans-serif;
    user-select: none;

}

/* Header Section Styling */
#user-logo{
    filter: invert();
    width: 25px;
    height: 26px;
}

#game-logo{
    width: 200px;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.user span{
    width: 100%;
}
.user h3{
    font-size: 16px;
}

#game-img{
    width: 550px;
    height: 550px;
}


/* Main Section Styling */
main{
    padding-left: 65px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.name-div{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-btn{
    margin-top: 40px;
    width: 155px;
    height: 55px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #027E86;
    border: 4px solid black;
}

.name-div > input{
    width: 250px;
    height: 45px;
    text-align: center;
    color: #005C69;
    font-size: 20px;
    border-radius: 7px;
}

.name-div > input::placeholder{
    color: #005C69;
}

.name-div > h2{
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer Section Styling */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: medium;
}

footer a{
    text-decoration: none;
    color: yellow;
}

/* Device Responsive */

@media screen and (max-width: 768px) {
    body{
        background-position: top;
        padding-right: 0;
    }
    main{
        padding: 10%;
        padding-bottom: 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #game-img{
        width: 100%;
        height: auto;
    }

    .name-div{
        margin-top: 10px;
        padding-top: 20px;
    }

    #game-logo{
        width: 50%;
        height: auto;
    }

    .name-div h2{
        font-size: 16px;
    }

    .name-div input{
        width: 90%;
        height: 40px;
        font-size: 16px;
    }
    .user h3{
        font-size: 14px;
        padding-right: 10px;
    }

    footer{
        padding-top: 0px;
        height: auto;
    }
}